/.vs/
/Logs/
/obj/
/Library/ShaderCache/
*.sln
*.csproj
/Library/Artifacts/
/Library/PackageManager/ProjectCache
/Library/PackageManager/ProjectCache.md5
/Library/BurstCache/
/Library/ScriptAssemblies/
/Library/PackageCache/
